<!DOCTYPE html>
<html>
<head>
  <!-- paper -->
  <link rel="stylesheet" href="../../assets/paper/paper.css" />
  <link
    href="https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro-v6@18657a9/css/all.min.css"
    rel="stylesheet"
    type="text/css"
  />
</head>

<body class="A4">
  <div class="sheet">
    <div style="width: 100%; text-align: center">
      <h1 style="margin-left: 40px; margin-right: 40px">
        Rangga Framadya Neno
      </h1>
      <h4 style="margin-left: 40px; margin-right: 40px">IT Support</h4>
      <h4 style="margin-left: 40px; margin-right: 40px">
        Tasikmalaya, Indonesia | Phone +62 815-7132-556 | Email:
        ranggaframadyaneno@gmail.com
      </h4>
    </div>
    <h2 style="margin-left: 40px">Summary</h2>
    <hr noshade size="4" width="90%" />
    <div style="width: 100%; text-align: left">
      <p style="margin-left: 40px; margin-right: 40px; text-align: justify">
        Informatics is the study of the structure, behaviour, and interactions
        of natural and engineered computational systems. Informatics studies the
        representation, processing, and communication of information in natural
        and engineered systems.
      </p>
    </div>
    <h2 style="margin-left: 40px">Experience</h2>
    <hr noshade size="4" width="90%" />
    <div style="width: 100%; text-align: left">
      <h3 style="margin-left: 40px">
        Polytechnic LP3I Campus Tasikmalaya - Tasikmalaya, Indonesia
      </h3>
      <p style="margin-left: 40px">Head of the class (August 2020-June 2023)</p>
      <h3 style="margin-left: 40px">
        LP3I Computers Club - Tasikmalaya, Indonesia
      </h3>
      <p style="margin-left: 40px">Member (August 2020-June 2023)</p>
    </div>
    <h2 style="margin-left: 40px">Education</h2>
    <hr noshade size="4" width="90%" />
    <div style="width: 100%; text-align: left">
      <h3 style="margin-left: 40px">
        Polytechnic LP3I Campus Tasikmalaya (2020-2023)
      </h3>
      <p style="margin-left: 40px">Infomatics Management</p>
    </div>
    <h2 style="margin-left: 40px">Skills</h2>
    <hr noshade size="4" width="90%" />
    <div style="width: 100%; text-align: left">
      <p style="margin-left: 40px">
        <i class="fa-solid fa-circle-small"></i> Hardware solves
      </p>
      <p style="margin-left: 40px">
        <i class="fa-solid fa-circle-small"></i> Software solves
      </p>
      <p style="margin-left: 40px">
        <i class="fa-solid fa-circle-small"></i> Networks solves
      </p>
    </div>
  </div>
  <script>window.print()</script>
</body>
</html>
